body, html {
	height:100%;
}

.code1 {
	width: 100%;
	height: 45%;
	font-family: 'trebuchet MS', sans-serif;
	background-color: white !important;
}

#exec {
	margin-left: 9px;
	background-color:#92bf21;
	border-color: #92bf21;
}

#output {
	width: 100%;
	height: 30%;
}

.modal-body {
	height:600px;
}

#closem {
	background-color: #92bf21;
	border-color: #92bf21;
}