html, body {
    height: 100%;
    width: 100%;
}

.form-control {
    width: 50%;
}

.tc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#tp {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
}

#tp:focus, #ci:focus, #cf:focus {
    border:1px solid #92bf21;
    outline: none !important;
    box-shadow: 0 0 10px #92bf21;
}

#canvas-container {
    margin-top: 20px;
    width: 100%;
    text-align:center;
}

canvas {
    background-color: #F0F0F0 ;
    width: 50%;
    display: inline;
}

canvas#viewport { border: 1px solid white; width: 900px; }

#ci, #cf {
    height: 45%;
}

