/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.red{
	background-color: #a62a2a !important;
}


#blocks {
	padding-top:100px;
}

.custom {
    width: 150px !important;
}

.main-cnt {
    max-width: 970px;
}
.main-cnt {
    background-color: white;
    border-radius: 40px;
    margin-top: 20px;
}


.title_preview{
border: 1px solid rgba(232, 162, 100, 0.7);
background-color: rgba(232, 162, 100, 0.7);

}

.title_toolbox{
border: 1px solid rgba(232, 162, 100, 0.7);
background-color: rgba(232, 162, 100, 0.7);

}

.preview{
border: 1px solid rgba(232, 162, 100, 0.7);
padding-bottom: 400px;
}

.toolbox{
border: 1px solid rgba(232, 162, 100, 0.7);
border-radius: 15px;
padding-bottom: 400px;
background-color: #F0F0F0;
}


